<!DOCTYPE html>
<html lang="ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petopia</title>
    <style>
        .header-buttons {
            display: flex;
            gap: 10px;
        }
        .header-button {
            padding: 10px 20px;
            background-color: #eee;
            border: 1px solid #ccc;
            text-decoration: none;
            color: #333;
        }
    </style>
</head>
<body>
</head>
<body>
    <h1>Petopia</h1>

     

    {% block contenido %}
        
    {% endblock contenido %}

    {% include 'home/footer.html' %} 
    
</body>
</html>