{% extends 'home/base.html' %}
{%load static %}

{% block contenido %}

{% if user.is_authenticated %}
        
{% endif%}

{% if user.is_staff %}

    <p><a href="{% url 'admin:index' %}" class="btn btn-primary">Administración</a></p>
        
  {% else %}

    <a href="{% url 'home:login' %}" class="btn btn-primary">Iniciar sesión</a>

  {% endif %}

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <span class="message-content">{{ message }}</span>
    {% endfor %}
  </ul>
{% endif %}

</div>
</div>  
<div class="image-container" style="text-align: center; margin-bottom: -0px;">
  <img src="{% static 'Web.png' %}" alt="Imagen" style="max-width: 100%; height: auto; margin: 0 auto;">
</div>

{% endblock contenido %}