{% extends 'home/base.html' %}

{% block contenido %}


<div class="header-buttons">
<a href="{% url 'home:agregar_perro' %}"> Perros</a>
<a href="{% url 'home:agregar_gato' %}"> Gatos </a>
<a href="{% url 'home:agregar_exotico' %}"> Exóticos</a>
{% if user.is_authenticated %}
    <a href="{% url 'home:logout' %}" class="btn btn-primary">Cerrar sesión</a>
    <p>Bienvenido, {{ request.user.username }}</p>
  {% else %}
    <a href="{% url 'home:login' %}" class="btn btn-primary">Iniciar sesión</a>
  {% endif %}
</div>

</div>  


{% endblock contenido %}