{% extends 'home/base.html' %}
{%load static %}

{% block contenido %}


{% if user.is_authenticated %}
        <h3>Bienvenido {{ request.user.username }} </h3>

{% endif%}

{% if user.is_staff %}

    <p><a href="{% url 'admin:index' %}" class="btn btn-primary">Administración</a></p>
        
  {% else %}

    <a href="{% url 'home:login' %}" class="btn btn-primary">Iniciar sesión</a>

  {% endif %}

</div>
</div>  
<div class="image-container">
  <img src= {% static "C:\Coderhouse\3entrega\project\config\static\Web.png" %} alt="Imagen" style = "width: 750px; height: 530px; margin-right: 50px;"/>



{% endblock contenido %}