{% extends 'home/base.html' %}

{% block contenido %}
<body>
        <form action= "" method= "POST">
            { {% csrf_token %}}
            {{ form.as_p}}
            <button type="submit">Iniciar Sesión</button>
            <div class="home-buttons"></div><p>Si no tiene usuario,<a href="{% url "home:registro" %}" class="home-link">Regístrese aquí</a></p>

        </form>

        <a href="{% url 'home:index' %}" class="home-link">Volver a la página de inicio</a>
    
</body>
</html>


{% endblock contenido %}