{% extends 'home/base.html' %}
{% load static %}

{% block contenido %}
<div style="display: flex; justify-content: center; align-items: flex-start; height: 100vh;">
  <form action="" method="POST" style="font-size: 24px;">
    {% csrf_token %}
    {{ form.as_p|safe }}
    <button type="submit" class="home-link" style="font-weight: bold;">Registrate</button>
  </form>
</div>
<style>
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
</style>


{% endblock contenido %}